<h2>Donations Table</h2>
<table class="table">
    <thread>
        <tr>
            <th>UserName</th>
            <th>UserID</th>
            <th>Amount</th>
        </tr>
    </thread>
    <tbody>
        <% donations.forEach(donation => 
        { %>
            <tr>
                <td><%= donation.username %></td>
                <td><%= donation.userid %></td>
                <td><%= donation.amount %></td>
            </tr>
        <% }); %>
    </tbody>
</table>