<html>
    <head>
        <title>Welcome <%= name %></title>
        <link rel="stylesheet" href="/views/style.css">
    </head>
    <body>
        <div class="main">

        </div>
    </body>
</html>
