<html>
    <head>
        <title>New User</title>
        <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    </head>
    <body>
        <div class="login-main">
            <div class="top-bar">
                <div class="website-emblem">
                    <img src="/views/assets/uwf_logo.png">
                </div>
            </div>
            <div class="data-form">
                <form action="/users/login" method="POST">
                    <h2>Please Sign In:</h2>
                    <label for="inputEmail">Email address</label>
                    <input type="email" name="email" id="inputEmail"
                        placeholder="Email address" required>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword"
                        placeholder="Password" required>
                    <button type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </body>
    <footer class="login-footer">
        <p>Copyright &copy: 2020 CEN4053 Group 7</p>
    </footer>
</html>