<h2>Users Table</h2>
<table class="table">
    <thread>
        <tr>
            <th>Name</th>
            <th>UserID</th>
            <th>Password</th>
        </tr>
    </thread>
    <tbody>
        <% users.forEach(user => 
        { %>
            <tr>
                <td><%= user.fullName %></td>
                <td><%= user.userid %></td>
                <td><%= user.password %></td>
            </tr>
        <% }); %>
    </tbody>
</table>